@use "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Brand colors config
$brand-color-1: #ee742c;
$brand-background: #fe771b;
$brand-text: white;
$brand-text-hover: darken($brand-text, 20%);

$brand-color-red: #ff3d00;

body{
  background-color: $brand-background;
  color: $brand-text;
}

.nav-link{
  color: $brand-text !important;
  
  &:hover{
    color: $brand-text-hover !important;
  }
}

.sticky-brand{
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: $brand-background
}

.title-brand-1 {
  @extend .display-1;
}


.btn-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
}
.btn-slider:hover { background: #e63946; }
.btn-slider.start { left: 20px; }
.btn-slider.end { right: 20px; }
.transition-all { transition: all 0.3s ease; }


//NAVBAR MOBILE
.hybrid-header {
  height: var(--header-height);
}

/* DESKTOP NAV CUSTOM */
.desktop-nav .nav-item-desktop {
  position: relative;
}
.desktop-nav .nav-item-desktop:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dc3545; /* Màu đỏ Kokoria */
}
.desktop-nav .nav-link {
  transition: color 0.3s ease;
}
.desktop-nav .nav-item-desktop:hover .nav-link {
  color: #dc3545 !important;
}

/* DRAWER CUSTOM */
.drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.drawer-panel {
  height: 100% !important;
}
.drawer-header .btn-close {
  border: none;
  background: none;
}

/* HAMBURGER BOX CUSTOM */
.btn-hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hamburger-box {
  position: relative;
  width: 24px;
  height: 20px;
  margin: 0 auto;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  transition: transform 0.15s ease;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -1px;
}
.hamburger-inner::before { content: ""; top: -8px; }
.hamburger-inner::after { content: ""; bottom: -8px; }

/* Mở */
.hamburger-box.open .hamburger-inner { background-color: transparent !important; }
.hamburger-box.open .hamburger-inner::before { transform: translate3d(0, 8px, 0) rotate(45deg); }
.hamburger-box.open .hamburger-inner::after { transform: translate3d(0, -8px, 0) rotate(-45deg); }