$border-radius: 0.3rem;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// Brand colors config
// $brand-color-1: #ee742c;
// $brand-background: #f37338;

$brand-color-1: #ee742c;
$brand-background: white;
$brand-background-2: #f37338;
$brand-background-3: #176ca1;
$brand-background-4: #85c1e1;


$brand-text: rgb(34, 30, 30);
$brand-text-hover: darken($brand-text, 20%);
$brand-text-2: white;
$brand-text-2-hover: darken($brand-text-2, 20%);

$brand-color-red: #ff2d26;

/* COLOR LAYOUT */
body{
  background-color: $brand-background;
  color: $brand-text;
}

.background-brand {
  background-color: $brand-background;
} 

.nav-link{
  color: $brand-text-2 !important;
  &:hover{
    // color: $brand-text-2-hover !important;
    // box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    // transform: translateY(-4px);
    text-shadow: 0px 0 10px rgb(214 22 193);
  }
}

.sticky-brand{
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: darken($brand-background-2, 10%);
  color: $brand-text-2;
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: $brand-background-2;
}

/* END COLOR LAYOUT */

.title-brand-1 {
  @extend .display-1;
}

.transition-all { transition: all 0.3s ease; }

.desktop-nav .nav-link {
  transition: color 0.3s ease;
}

/* DRAWER CUSTOM */
.drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.drawer-panel {
  height: 100% !important;
}
.drawer-header .btn-close {
  border: none;
  background: none;
}

.brand-hotline{
  color: $brand-text-2;
  font-size: 36px;
  display: flex;
  align-items: center;
  font-weight: bold;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}

// WAVY TEXT
@keyframes wavyAnim {
  0% {
    transform: translateY(-10px);
  }
  10% {
    transform: translateY(10px);
  }
  20%{
    transform: translateY(-5px);
  }
  30%, 95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); /* Đẩy chữ lên trên */
  }
}

.wavy-text span{
  display: inline-block;
  animation: 3s ease-in-out 0s infinite normal both running wavyAnim;
  animation-delay: calc(var(--i) * 0.1s);
}

.dot-point{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}